* {
  background-color: grey;
}
h1 {
  color: salmon;
  font-size: 80px;
  background-color: beige;
  font-family: 'Acme', sans-serif;
}
body {
    background-image: url(images/seattle.jpg);
    background-attachment: fixed
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
p {
  font-size: 75px;
}
a{
  color: salmon;
  font-size: 20px;
}
#fishInput {
  background-color: salmon;

}
#cookiestores {
  background-color: salmon;
  box-shadow: 10px 10px 5px darkgrey;
  border: solid;
}
img {

}
