* {
  background-color: grey;
}
h1 {
  color: salmon;
  font-size: 80px;
  background-color: beige;
  font-family: 'Acme', sans-serif;
}
body {

}
p {
  font-size: 75px;
}

#fishInput {
  background-color: salmon;

}
#cookiestores {
  background-color: salmon;
  box-shadow: 10px 10px 5px darkgrey;
  border: solid;
}
img {
  
}
